<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="sample">
        <input type="text" v-model="firstName">
        <hr>
        <input type="text" v-model="lastName">
        <hr>
        <h2>Hello, {{ fullName }}</h2>
        <hr>
        <button v-on:click="showText = !showText">Toggle Text</button>
        <hr>
        <div v-show="showText">Some text</div>
    </div>
</div>
<script>
    let sample = new Vue({
        el: '.sample',
        data: {
            name: 'Default',
            firstName: '',
            lastName: '',
            showName: false,
            showText: false
        },
        computed: {
            fullName() {
                console.log('render fullname');
                return this.firstName + ' ' + this.lastName
            }
        }
    });
</script>
</body>
</html>